/*
  palette: http://colorhunt.co/c/69534
  except for border color (initially green)

  title:   #008cba
  text:    #475762
  border:  #fbd490
  bg:      #eceff4
*/

body
{
  background-color: #eceff4;
  color: #475762;

  font-family: monospace;
  font-size: 14px;
}

header h2
{
  color: #008CBA;
}

button
{
  display: inline-block;
  border-radius: 8px;
  border: 2px solid #00bcba;

  font-family: monospace;
  font-size: 14px;
}

/* input focus feedback using box-shadow */
input
{
  font-family: monospace;
  font-size: 14px;
  border: 0;

  transition: box-shadow 0.3s;
  -webkit-transition: box-shadow 0.3s;
}

input:focus
{
  outline: none;
  box-shadow: 0px 2px 2px 0px #00bcba;
}

/* hide spin button for numbers input in webkit */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

/* hide spin button for numbers input in webkit */
input[type="number"]
{
  -moz-appearance: textfield;
}

/* lists and sublists default style */
ul
{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul ul
{
  display: none;
  font-size: 12px;
}

.container
{
  margin: 10px auto;
  padding: 10px;
  width: 400px;
  text-align: center;
}

@media only screen
and (max-width : 480px)
{
  .container
  { width: auto; }
}

@media only screen 
and (min-width : 481px)
{
  .container
  { width: 400px; }
}
