/*
  palette: http://colorhunt.co/c/69534
  except for border color (initially green)

  title:   #008cba
  text:    #475762
  border:  #fbd490
  bg:      #eceff4
*/

body
{
  background-color: #eceff4;
  color: #475762;

  font-family: monospace;
  font-size: 14px;
}

header h2
{
  color: #008CBA;
}

button
{
  display: inline-block;
  border-radius: 8px;
  border: 2px solid #00bcba;

  font-family: monospace;
  font-size: 14px;
}

i
{
  display: none;
}

#app_page
{
  display: none;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

/* input focus feedback using box-shadow */
input
{
  font-family: monospace;
  font-size: 14px;
  border: 0;

  transition: box-shadow 0.3s;
  -webkit-transition: box-shadow 0.3s;
}

input:focus
{
  outline: none;
  box-shadow: 0px 2px 2px 0px #00bcba;
}

/* hide spin button for numbers input in webkit */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

/* hide spin button for numbers input in webkit */
input[type="number"]
{
  -moz-appearance: textfield;
}

/* ---------------------------------------- */
/* lists and sublists default style         */
/* ---------------------------------------- */

ul
{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.scroll {
    /*width: 500px;*/
    max-height: 300px;
    overflow: auto;
}

ul ul
{
  display: none;
  font-size: 12px;
}

div.scroll {
  max-height: 300px;
  overflow: auto;
}

.container
{
  margin: 10px auto;
  padding: 10px;
  width: 400px;
  text-align: center;
}

@media only screen
and (max-width : 480px)
{
  .container
  { width: auto; }
}

@media only screen 
and (min-width : 481px)
{
  .container
  { width: 400px; }
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 4.5s;
    animation: fadein 0.5s, fadeout 0.5s 4.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
/* End snackbar */
